<div class="container">
    <h1>You are logged in</h1>
    <form action="/auth/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
    <button onclick="window.location.href = '/api/v1/cats/vote';">Start VOte</button>
    <form action="/api/v1/cats/vote" target="_blank">
        <button>Start Vote</button>
    </form>
</div>
